<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand mb-0 h1" href="/">Languatutor</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
    
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Tutors', tutors_path, class: "nav-link active"%>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'My Profile', user_path(current_user), class: "nav-link active"%>
          </li>
          <% if current_user.has_role?(:admin)%>
            <li class="nav-item">
              <%= link_to 'Admin Dashboard', rails_admin_path, class: "nav-link active"%>
            </li>
          <% end %>
          <li class="nav-item">
            <% if current_user.has_any_role?(:student, :admin)%>
              <%= link_to 'Shopping cart', shopping_cart_path, class: "nav-link active"%>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to 'Logout', destroy_user_session_path, method: 'delete', class: "nav-link active" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Login', new_user_session_path, class: "nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link active" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>