<h1><%= @conversation.subject%></h1>

<section>
    <% @conversation.receipts_for(current_user).each do |receipt|%>
        <%= "#{receipt.message.sender.full_name} sent: "%>
        <%=  receipt.message.body%>
        <br>
    <% end %>
</section>

<section>
    <%= form_with url: conversation_messages_path(@conversation), method: :post do |f| %>
        <div>   
            <%= f.text_area :body %>
        </div>
        <%= f.submit "send"%>
    <% end %>
</section>
