<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>
  <div class="field">
    <%= form.label :profile_photo, "Upload a profile photo" %>
    <%= form.file_field :profile_photo%>
  </div>
  <div class="field">
    <%= form.label :about_me, "Tell students more about yourself" %>
    <br>
    <%= form.text_area :about_me, size: "70x5" %>
  </div>
  <div class="field">
    <%= form.label :roles, "Pick which best describes how you will use the website" %>
    <br>
    <%= form.collection_check_boxes :role_ids, @roles, :id, :name%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  
  

<% end %>
