<p id="notice"><%= notice %></p>


<% @users.each do |user| %>
    <div class="d-sm-flex flex-wrap bd-highlight mb-3 card ">
      <div class="p-2 flex-fill bd-highlight card-body text-center">
        <%= cl_image_tag user.profile_photo.key, crop: :scale, width: 100, cloud_name: 'natasha-zw' if user.profile_photo.attached? %>
        <p>
          <%= user.first_name %>
          <%= user.last_name %>
          <br/>
          <% user.taught_courses.each do |course|%>
            <%= "#{course.subject.name} "%> 
          <% end %>
        </p>
        <section> 
          <%= link_to 'Profile', user_path(user.id), class: "btn btn-outline-primary text-decoration-none"%>
        </section>
      
      </div>
    </div>
<% end %>


