<p id="notice"><%= notice %></p>

<section> 
  <%if @user.profile_photo.attached? %>
    <%= image_tag @user.profile_photo, width: 150 %>
  <% end %>
</section>

<section>
  <p>
    <strong>
      <%= "#{@user.first_name} #{@user.last_name}"%>
    </strong>
  </p>
  <p>
    <% if @user.has_role?(:tutor) %>
      Teaches:
      <ul>
        <% @user.taught_courses.each do |course|%>
          <li><%= link_to "#{course.subject.name}", subject_path(course.subject.id)%></li> 
        <% end %>
      </ul>
    <% end %>
  </p>
  <p> 
    Bio:
  </p>
  <p> 
    <%=@user.about_me %>
  </p>
</section>

<%= link_to "Click here for a list of #{@user.first_name}'s courses", course_path(@user) %>
<section>
<% if policy(@user).update? || current_user.id == @user.id %>
  <%= link_to 'Edit Profile', edit_user_path(@user) %> 
  <%= link_to 'Add Courses', new_course_path%>
  <%= link_to 'View Cart', orders_path%>
<% end %>
  <%= link_to 'Back', tutors_path %>
</section>
