
<h1>Shopping Cart</h1>

 <table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Tutor</th>
      <th>Course price </th>
      <th>Subtotal</th>
      <th>Quantity</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @course_orders.each do |course_order| %>
    <% course = course_order.course %>
      <tr>
        <td><%= "#{course.name} #{course.subject.name}"  %></td>
        <td><%= link_to course.tutor.full_name, course_path(course.tutor),class: " text-decoration-none" %></td>
        <td><%= sprintf('$%.2f',(course.price * course_order.quantity)/100) %></td>
        <td><%= sprintf('$%.2f',course.price/100) %></td>
        <td>
          <%= form_with method: :put, local: false, url: course_orders_update_path do |f| %>
            <%= f.hidden_field :course_id,  value: course.id%>
            <%= f.number_field :quantity, in: 1..5,  value: course_order.quantity %>
            <%= f.submit "Update", class: "btn btn-outline-success text-decoration-none"%>
          <% end %>
        </td>

        <td><%= link_to 'Remove ', destroy_course_order_path(course.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger text-decoration-none" %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<% if @course_orders.any?%>
  <%= link_to 'Checkout', buy_path, class: "btn btn-outline-success text-decoration-none" %>
<%else%>
  <%= link_to 'Browse tutors', tutors_path, class: "btn btn-outline-success text-decoration-none" %>
<% end  %>
<%= link_to 'My Profile', user_path(current_user.id), class: "btn btn-outline-primary text-decoration-none"%>
