<p id="notice"><%= notice %></p>

<p>
  <strong>Quanity:</strong>
  <%= @order.quanity %>
</p>

<p>
  <strong>Refernces:</strong>
  <%= @order.refernces %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
