<p id="notice"><%= notice %></p>
<h1>Your Orders</h1>

<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Description</th>
      <th>Tutor</th>
      <th>Course price </th>
      <th>Quantity</th>
      <th>Subtotal</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <div class="card" >
      <% @completed_orders.each do |order| %>
        <div class="card-body">
          <% order.course_orders.each do |order_item|%>
            <%course = order_item.course%>
            <tr>
              <td><%= "#{course.name} #{course.subject.name}"  %></td>
              <td><%= course.description %></td>
              <td><%= link_to "#{course.tutor.full_name}", user_path(course.tutor.id), class: "text-decoration-none" %></td>
              <td><%= sprintf('$%.2f', course.price/100) %></td>
              <td><%= order_item.quantity%></td>
              <td><%= sprintf('$%.2f',(course.price * order_item.quantity)/100) %></td>
              <td><%= link_to 'View Course', course_path(course.tutor), class: "btn btn-outline-primary text-decoration-none" %></td>
            </tr>
          <% end %>
        </div>
      <% end %>
    </div>
  </tbody>
</table>


<%= link_to 'Back', user_path(current_user.id), class: "btn btn-outline-primary text-decoration-none" %>
