<% @tutors.each do |tutor| %>
  <% if tutor.has_role?(:tutor) && tutor.taught_courses.find_by(subject_id: @subject.id) %>
     <div class="card" style="width: 25rem;">
      <div class="card-body">
        <%= cl_image_tag tutor.profile_photo.key, crop: :scale, width: 100, cloud_name: 'natasha-zw' if tutor.profile_photo.attached? %>
        <p>
          <%= tutor.full_name %>
          <br/>
          <p> Teaches: </p>
          <% tutor.taught_courses.each do |course|%>
            <%= "#{course.subject.name} "%> 
          <% end %>
        </p>
        <p>
          <%= tutor.about_me %>
        </p>
        <section> 
          <%= link_to 'Tutor Profile', user_path(tutor.id)%>
        </section>
      </div>
    </div>
  <% end %>
<% end %>