<%= form_with model: course do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :tutor_id, value: current_user.id %>
  </div>
  <div class="field">
    <%= form.label :name, "Level" %>
    <br/>
    <%= form.collection_radio_buttons :name, @courses, :name, :name%>
  </div>
  <div class="field">
    <%= form.label :subject_id, "Subject" %>
    <br/>
    <%= form.collection_radio_buttons :subject_id, @subjects, :id, :name%>
  </div>
  <div class="field">
    <%= form.label :price %>
    <br/>
    <%= form.select :price, @prices%>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
