<p id="notice"><%= notice %></p>
<% @user.taught_courses.each do |course| %>
  <div class="card" style="width: 25rem;">
    <div class="card-body">
      <p>
        <strong>Course Level:</strong>
        <%= course.name %>
      </p>

      <p>
        <strong>Tutor:</strong>
        <%= course.tutor.full_name %>
      </p>

      <p>
        <strong>Subject:</strong>
        <%= course.subject.name %>
      </p>

      <p>
        <strong>Description:</strong>
        <%= "#{course.description}" %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= sprintf('$%2.f', course.price/100) %>
      </p>
      <% if current_user.id == course.tutor_id || policy(@user).update? %>
        <%= link_to 'Edit', edit_course_path(course.id) %> 
      <% else %>
        <%= link_to 'Add to cart', add_to_order_path(course.id)%>
      <% end %>
    </div>
  </div>
<% end %>
<%= link_to 'View cart', orders_path%>
<%= link_to 'Back', user_path(@course.tutor_id)%>
